:host {
  display: block;
  width: 100%;
  height: 100%;

  &.expanded {
    // Expanded state styles (for zoom feature)
    z-index: 1000;
  }
}

.grid-stack-item-content {
  width: 100%;
  // height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
